*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.9;
color:#333;
background-color: #f4f4f4;
padding: 20px;
}

nav ul{
  list-style-type:none;
  display:flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #333;
}

nav a{
  color: white;
  text-decoration: solid;
  padding: 10px;
}

section {
  margin-top:20px;
  padding: 20px;
  background-color: #fff;
  border-radius:8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-pic{
  width:150px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h2{
  color: #333;
  margin-bottom:10px;
}

p{
  margin-bottom:15px;
}
